<!DOCTYPE html>
<html>
<head>
<meta name="viewport"content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
<meta charset="UTF-8" />
<title>Notificaciones - CHECK-IT</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{styles/style.css}" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/33a002ef8f.js"
	crossorigin="anonymous"></script>

</head>
<body>
	<div th:insert="fragments/navbar :: navbar" class="sticky-top"></div>
	<!-- NavBar END -->
	<th:block th:include="fragments/navbar :: modals"></th:block>
	<!-- Bootstrap row -->
	<div class="row" id="body-row">
		<!-- Sidebar START -->
		<div th:insert="fragments/navbar :: sidebar"></div>
		<!-- Sidebar END -->
		<!-- MAIN -->
		<div class="col padding-especial">
			<main class="container">
				<div class="row">
					<div class="col-xl-12 col-sm-12">
						
						<div th:if="${not #lists.isEmpty(notificacionesList)}">
							<h2 class="mb-4 text-primary">NOTIFICACIONES</h2>
							<table class="table table-striped">
								<tr th:each="notificacion : ${notificacionesList}">
								<script> console.log('[[${notificacion}]]')</script>
									<td th:class ="${notificacion.getImagen()}"></td>
									<td th:text="${notificacion.getMensaje()}"></td>
									<td ><form method="POST" th:action="@{/nuevoInquilino}"><input type="hidden" th:value="${notificacion.getRuta()}" name="reservaEdit"><input class="btn btn-primary" type="submit" name="submit" value="Gestionar ahora"></form></td>
								</tr>
							</table>
						</div>
						<div th:if="${#lists.isEmpty(notificacionesList)}">
							<h2 class="mb-4 text-primary">NOTIFICACIONES</h2>
							<h3>No tienes ninguna notificacion</h3>
						</div>
					</div>
				</div>
			</main>
		</div>
		<!-- Main Col END -->
	</div>
	<!-- body-row END -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script th:inline="javascript">
		/*<![CDATA[*/
			$(function() {
				//Introducir valores en navbar
				var inquilino=[[${inquilinos}]];
				var text="";
				for (var r of inquilino){
					console.log("<option data-tokens='"+r["nombre"]+" "+r["apellido"]+" "+r["dni"] +"' value='"+r["id"]+"'>"+r["nombre"]+" "+r["apellido"] + "</option>");
					text+="<option data-tokens='"+r["nombre"]+" "+r["apellido"]+" "+r["dni"] +"' value='"+r["id"]+"'>"+r["nombre"]+" "+r["apellido"] + "</option>";
				}
				text+="<option hidden disabled selected value> -- Selecciona un inquilino -- </option>";
				document.getElementById("selectInquilinosNavbar").innerHTML =text;
				$('#selectInquilinosNavbar').selectpicker('refresh');
				//-----------------------------
			});
		
		/*]]>*/
	</script>
	<script th:src="@{js/canvasjs.min.js}"></script>
	<!--  <div th:insert="fragments/footer :: footer"></div> -->
	<script th:src="@{js/js.js}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>