<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{styles/style.css}" />

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>
	<div th:fragment="sidebar">
		<!-- Sidebar -->
		<div id="sidebar-container" class="sidebar-expanded d-none d-md-block">
			<!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
			<!-- Bootstrap List Group -->
			<ul class="list-group">
				<!-- Separator with title -->
				<li
					class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
					<small>MENU PRINCIPAL</small>
				</li>
				<!-- /END Separator -->
				<!-- Menu with submenu -->
				<a href="#submenu1" data-toggle="collapse" aria-expanded="false"
					class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-start align-items-center">
						<span class="fa fa-dashboard fa-fw mr-3"></span> <span
							class="menu-collapsed">Inicio</span> <span
							class="submenu-icon ml-auto"></span>
					</div>
				</a>
				<!-- Submenu content -->
				<div id='submenu1' class="collapse sidebar-submenu">
					<a href="#"
						class="list-group-item list-group-item-action bg-dark text-white">
						<span class="menu-collapsed">Añadir reserva</span>
					</a> <a href="#"
						class="list-group-item list-group-item-action bg-dark text-white">
						<span class="menu-collapsed">Gestionar reserva</span>
					</a>
				</div>
				<a href="#submenu2" data-toggle="collapse" aria-expanded="false"
					class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
					<div class="d-flex w-100 justify-content-start align-items-center">
						<span class="fa fa-user fa-fw mr-3"></span> <span
							class="menu-collapsed">Perfil</span> <span
							class="submenu-icon ml-auto"></span>
					</div>
				</a>
				<!-- Submenu content -->
				<div id='submenu2' class="collapse sidebar-submenu">

					<button data-toggle="modal" data-target="#modalAñadirCasa"
						class="list-group-item list-group-item-action bg-dark text-white">
						<span class=" ml-2 menu-collapsed">Añadir vivienda</span>
					</button>
					<a href="#"
						class="list-group-item list-group-item-action bg-dark text-white">
						<span class="menu-collapsed">Configuración</span>
					</a> <a href="#"
						class="list-group-item list-group-item-action bg-dark text-white">
						<span class="menu-collapsed">Contraseña</span>
					</a>
				</div>
				<a href="#" class="bg-dark list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-start align-items-center">
						<span class="fa fa-newspaper fa-fw mr-3"></span> <span
							class="menu-collapsed">Noticias</span>
					</div>
				</a>
				<!-- Separator with title -->
				<li
					class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
					<small>OPTIONS</small>
				</li>
				<!-- /END Separator -->
				<a th:href="@{/calendario}"
					class="bg-dark list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-start align-items-center">
						<span class="fa fa-calendar fa-fw mr-3"></span> <span
							class="menu-collapsed">Calendario</span>
					</div>
				</a>
				<a href="#" class="bg-dark list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-start align-items-center">
						<span class="fa fa-envelope-o fa-fw mr-3"></span> <span
							class="menu-collapsed">Mensajes <span
							class="badge badge-pill badge-primary ml-2">5</span></span>
					</div>
				</a>
				<!-- Separator without title -->
				<li class="list-group-item sidebar-separator menu-collapsed"></li>
				<!-- /END Separator -->
				<a href="#" class="bg-dark list-group-item list-group-item-action">
					<div class="d-flex w-100 justify-content-start align-items-center">
						<span class="fa fa-question fa-fw mr-3"></span> <span
							class="menu-collapsed">Ayuda</span>
					</div>
				</a>
				<a href="#top" data-toggle="sidebar-colapse"
					class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
					<div class="d-flex w-100 justify-content-start align-items-center">
						<span id="collapse-icon" class="fa fa-2x mr-3"></span> <span
							id="collapse-text" class="menu-collapsed">Collapse</span>
					</div>
				</a>
			</ul>
			<!-- List Group END-->
		</div>
		<!-- sidebar-container END -->
		<!-- MODAL START -->
		<div class="modal fade" id="modalAñadirCasa" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form action="/login" th:action="@{/añadirVivienda}" method="post">
						<div class="modal-body">
							<!--Card-->


							<!-- Form -->

							<!-- Heading -->
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h3 class="dark-grey-text text-center">
								<strong>Nueva vivienda</strong>
							</h3>
							<hr>
							<div class="md-form">
								<i class="fas fa-home prefix"></i>
								 <label for="email">Nombre Vivienda</label>
								 <input type="text" id="nombre" name="nombre" class="form-control" placeholder="El campillo" required autofocus>
							</div>

							<div class="md-form">
								<i class="fas fa-key prefix "></i>
								<label for="password"> Código</label>
								 <input type="text" id="codigo" name="codigo" class="form-control" placeholder="AAA-000" required>


							</div>




							<!-- Form -->

						</div>
						<div class="modal-footer">
							<button class="btn btn-primary	" type="submit">Guardar</button>
							<button type="button" class="btn btn-secondary"
								data-dismiss="modal">Cerrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- MODAL END -->
	</div>
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-md navbar-dark bg-primary navColor">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarNavDropdown"
				aria-controls="navbarNavDropdown" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" th:href="@{/}"> <img
				th:src="@{images/logov21.png}" width="130rem"
				class="d-inline-block align-top" alt="">
			</a>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> <span th:utext="${userName}"></span>
					</a>
						<div class="dropdown-menu dropdown-menu-right bg-dark"
							aria-labelledby="navbarDropdown">
							<a class="dropdown-item text-white" href="#">Action</a> <a
								class="dropdown-item text-white" href="#">Another action</a>
							<!-- 						<div class="dropdown-divider "></div> -->
							<a class="dropdown-item text-white" th:href="@{/logout}">Log
								out</a>
						</div></li>

					</li>

					<!-- This menu is hidden in bigger devices with d-sm-none. 
           The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
					<li class="nav-item dropdown d-sm-block d-md-none"><a
						class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Menu </a>
						<div class="dropdown-menu bg-dark text-white"
							aria-labelledby="smallerscreenmenu">
							<a class="dropdown-item text-white" href="#top">Inicio</a> <a
								class="dropdown-item text-white" href="#top">Perfil</a> <a
								class="dropdown-item text-white" href="#top">Calendario</a> <a
								class="dropdown-item text-white" href="#top">Ayuda</a>
						</div></li>
					<!-- Smaller devices menu END -->
				</ul>
			</div>
		</nav>
	</div>
</body>
</html>