<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=500, initial-scale=1"/>
<meta charset="UTF-8" />
<title>Home</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{styles/style.css}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/33a002ef8f.js"
	crossorigin="anonymous"></script>
<script th:inline="javascript">
/*<![CDATA[*/
window.onload = function() {
 
var dps = new Array(new Array(),new Array(),new Array(),new Array());
var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "GANANCIAS ANUALES"
	},
	axisY: {
		includeZero: false,
		title: "Ganancias por año(en euros)"
	},
	legend:{
		cursor: "pointer",
		itemclick: toggleDataSeries
	},
	toolTip: {
		shared: true
	},
	data: [{
		type: "stackedBar",
		name: "Primavera",
		showInLegend: true,
		xValueType: "dateTime",
		xValueFormatString: "YYYY",
		yValueFormatString: "#,##0.0 €",
		dataPoints: dps[0]
	},{
		type: "stackedBar",
		name: "Verano",
		showInLegend: true,
		xValueType: "dateTime",
		xValueFormatString: "YYYY",
		yValueFormatString: "#,##0.0 €",
		dataPoints: dps[1]
	},{
		type: "stackedBar",
		name: "Otoño",
		showInLegend: true,
		xValueType: "dateTime",
		xValueFormatString: "YYYY",
		yValueFormatString: "#,##0.0 €",
		dataPoints: dps[2]
	},{
		type: "stackedBar",
		name: "Invierno",
		showInLegend: true,
		xValueType: "dateTime",
		xValueFormatString: "YYYY",
		yValueFormatString: "#,##0.0 €",
		dataPoints: dps[3]
	}]
});
 
function toggleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else{
		e.dataSeries.visible = true;
	}
	chart.render();
}
 
var xValue;
var yValue;
var dataPointList=[[${dataPointsList}]];
console.log(dataPointList)
var contador=0;


for(let j=0;j<4;j++){
	for(let i=0;i<6;i++){
		xValue=parseInt(dataPointList[j][i].x);
		yValue=parseInt(dataPointList[j][i].y);
		
		dps[j].push({
			x : xValue,
			y : yValue
		});	
		
	}
	
}
console.log(dataPointList[0][1].x);
console.log(dps);
chart.render();
 
}
/*]]>*/
</script>
</head>
<body>
	<!-- NavBar START -->
	<div th:insert="fragments/navbar :: navbar"></div>
	<!-- NavBar END -->
	<!-- Bootstrap row -->
	<div class="row" id="body-row">
		<!-- Sidebar START -->
		<div th:insert="fragments/navbar :: sidebar"></div>
		<!-- Sidebar END -->
		<!-- MAIN -->
		<div class="col p-4">
			<main class="container">
				<div class="row">
					<div class="col-xl-6 col-sm-12">
						<div id="chartContainer" style="height: 370px; width: 100%;"></div>
					</div>
				</div>
			</main>
		</div>
		<!-- Main Col END -->
	</div>
	<!-- body-row END -->


	<script th:src="@{js/canvasjs.min.js}"></script>
	<!--  <div th:insert="fragments/footer :: footer"></div> -->
	<script th:src="@{js/js.js}"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>